/* Nikki Wood */

/* . means class selector
    nothing means tag selector    
    [] means attribute selector
    # means id selector
    :psudo class slector
*/
html{
    font-family: "Arial Narrow";
    font-size: 20px;
}

div {
    display: block;
    
}

.er{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 5px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
    transition: ease-in-out 1s;
}

#fetchTable{
    align-content: center;
}

/*flip rows and columns:
    https://stackoverflow.com/questions/6297591/how-to-invert-transpose-the-rows-and-columns-of-an-html-table
    */

tr { display: block; float: left; }
th, td { 
    display: block; 
    padding-left:10px;    
}

li{
    color: white;
    
}

.displayRow{
    background:rgba(0, 0, 0, 0.2);
    border-color: darkslategrey;
    padding-left: 50;
    text-align: center;
    display: flex;
}

.displayColumn{
    flex: 33%;
}

button{
    background-color: #555555; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 2%;
    margin-top: 2%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.techused{
    margin-left: 5%;
}

.showSheet{
    padding: 5px 5px;
    font-size: 16px;
    margin: 1px 1px;
}

button:hover{
    background-color: rgb(179, 120, 58);
    color:black;
}


#sheetMusic{
    width: 850px; 
    height: 400px;
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    background-color: white;
    border-color: darkslategray;
    border-width: 2px;
    justify-self: center;
}

#else{
    background-color: rgba(0, 0, 0, 0.315);
    font-family: "Arial Narrow";
    /*font-variant: small-caps; */
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    text-shadow: chocolate;
    width: 250px;
    height: 350px;
    margin-top: 2%;
    display: inline-block;
    justify-self: left;
}



.piano {
    background-color: transparent;
    margin-left: 1%;
    padding: 50px;
    display: inline-block;
    text-align: center;
    /*horizontal align: https://stackoverflow.com/questions/7601678/is-it-possible-to-center-an-inline-block-element-and-if-so-how */
    position: absolute;
     left: 50%;
     transform: translateX(-50%);
}

#white {

    z-index: 1;
    padding-left: 10px;
    width: 1236px;
    height: 300px;
    background-image: linear-gradient(#454545 -10px, #000 200px);
    box-shadow: 0px 3px 5px #8a8a8a;
}

.w {
    margin: 6% auto;
    margin-left: 2px;
    width: 32px;
    height: 210px;
    border-radius: 2px 2px 7px 7px;
    background-image: linear-gradient(white 10%, #fbfbfb 95%, #d0cfcf 90%, white 99%);
    align-content: center;
    color: #000;
    font-weight: 700;
    float: left;
    text-align: center;
}

.w.active{
    background:linear-gradient(white 10%, rgb(121, 121, 121) 90%, rgb(128, 128, 128) 95%, gray 99%);
}

.w span {
    position: absolute;
    bottom: 0;
    right: 0;
    float: bottom;
}

#black {
    position: relative;
    top: -285px; 
    padding-left: 9px;
    width: 1236;
}

.b {
    position: relative;
    width: 20px;
    height: 136px;
    border-radius: 0px 0px 9px 9px;
    background-image: linear-gradient(black 10%, #4e4e4e 80%, black 90%);
    color: #fff;
    float: left;
    text-align: center;
}

.b.active{
    background:linear-gradient(black 10%, #757575 80%, rgb(75, 75, 75) 90%);
}

.w, .b, .text, #tb1, #tb2, #expert, input[type="button"] {
    cursor: pointer;
}
