<!--Nikki Wood-->
    <div>



        <div class="er"> <img src="assets\energico.png"></div>
        <div class="displayRow">
            <div class="displayColumn" id="else">
                <div>
                    <button (click)="fetchSong()" >Fetch Songs</button>
                    <button (click)="nextSong(currentSongIndex)">Next Song</button>
                </div>

                    <hr/>

                    <table id="fetchTable">
                        <tr>
                            <td *ngFor="let song of song$ | async"><a target="_blank" [href]="song.link"><div id="ytbutton"></div><img src="assets\YTlogo.png" height=27></a></td>
                        </tr>
                        <tr>
                            <td *ngFor="let song of song$ | async"><button class="showSheet" [id]="song.title" (click)="changeSong(song.file)" (click)="changeIndex(song.index)">{{song.title}}</button></td>
                        </tr>

                            
                            <!--<td *ngFor="let song of song$ | async">{{song.link}}</td>-->
                    </table>


            </div>
            <div class="displayColumn" id="musicText">
                    <object id="sheetMusic" type="text/html" 
                    data = "assets/SongFiles/KissTheRain.txt"></object>
            </div>

            <div class="displayColumn" id="else">
                <div class="buttons">
                    <button class="techused" (click)="fetchTech()">Technology Used</button>
                </div>

                <hr>
                <ul>
                    <li *ngFor="let tech of tech$ | async">{{tech.used}}</li>
                </ul>
            </div>


        </div>
        <div class="piano">
            <div id="white">
                <div id="1C" class="w" data-key="122">z</div> 
                <div id="1D" class="w" data-key="120">x</div> 
                <div id="1E" class="w" data-key="99">c</div> 
                <div id="1F" class="w" data-key="118">v</div> 
                <div id="1G" class="w" data-key="98">b</div> 
                <div id="2A" class="w" data-key="110">n</div> 
                <div id="2B" class="w" data-key="109">m</div> 
                <div id="2C" class="w" data-key="44">,</div> 
                <div id="2D" class="w" data-key="46">.</div> 
                <div id="2E" class="w" data-key="47">/</div> 
                <div id="2F" class="w" data-key="97">a</div> 
                <div id="2G" class="w" data-key="115">s</div> 
                <div id="3A" class="w" data-key="100">d</div> 
                <div id="3B" class="w" data-key="102">f</div> 
                <div id="3C" class="w" data-key="103">g</div> 
                <div id="3D" class="w" data-key="104">h</div> 
                <div id="3E" class="w" data-key="106">j</div> 
                <div id="3F" class="w" data-key="107">k</div> 
                <div id="3G" class="w" data-key="108">l</div> 
                <div id="4A" class="w" data-key="59">;</div> 
                <div id="4B" class="w" data-key="113">q</div> 
                <div id="4C" class="w" data-key="119">w</div> 
                <div id="4D" class="w" data-key="101">e</div> 
                <div id="4E" class="w" data-key="114">r</div> 
                <div id="4F" class="w" data-key="116">t</div> 
                <div id="4G" class="w" data-key="121">y</div> 
                <div id="5A" class="w" data-key="117">u</div> 
                <div id="5B" class="w" data-key="105">i</div> 
                <div id="5C" class="w" data-key="111">o</div> 
                <div id="5D" class="w" data-key="112">p</div> 
                <div id="5E" class="w" data-key="50">2</div> 
                <div id="5F" class="w" data-key="51">3</div> 
                <div id="5G" class="w" data-key="52">4</div> 
                <div id="6A" class="w" data-key="55">7</div> 
                <div id="6B" class="w" data-key="56">8</div> 
                <div id="6C" class="w" data-key="57">9</div> 
            </div> 
            <!--
                https://www.expandinghead.net/keycode.html Key codes!
                if shift is pressed.. keycode = white-32
            -->
            <div id="black">
                <div id="1Ca" class="b" data-key="90" style="left: 26px;">Z</div> 
                <div id="1Da" class="b" data-key="88" style="left: 40px;">X</div> <!-- +14px - 1 white between-->
                <div id="1Fa" class="b" data-key="86" style="left: 88px;">V</div> <!-- +48px - 2 white between--> 
                <div id="1Ga" class="b" data-key="66" style="left: 102px;">B</div>
                <div id="2Aa" class="b" data-key="78" style="left: 116px;">N</div>
                <div id="2Ca" class="b" data-key="60" style="left: 164px;">&lt;</div>
                <div id="2Da" class="b" data-key="62" style="left: 178px;">&gt;</div> 
                <div id="2Fa" class="b" data-key="65" style="left: 226px;">A</div>
                <div id="2Ga" class="b" data-key="83" style="left: 240px;">S</div>
                <div id="3Aa" class="b" data-key="68" style="left: 254px;">D</div>
                <div id="3Ca" class="b" data-key="71" style="left: 302px;">G</div>
                <div id="3Da" class="b" data-key="72" style="left: 316px;">H</div>
                <div id="3Fa" class="b" data-key="75" style="left: 364px;">K</div>
                <div id="3Ga" class="b" data-key="76" style="left: 378px;">L</div>
                <div id="4Aa" class="b" data-key="58" style="left: 392px;">:</div>
                <div id="4Ca" class="b" data-key="87" style="left: 440px;">W</div>
                <div id="4Da" class="b" data-key="69" style="left: 454px;">E</div>
                <div id="4Fa" class="b" data-key="84" style="left: 502px;">T</div>
                <div id="4Ga" class="b" data-key="89" style="left: 516px;">Y</div>
                <div id="5Aa" class="b" data-key="85" style="left: 530px;">U</div>
                <div id="5Ca" class="b" data-key="79" style="left: 578px;">O</div>
                <div id="5Da" class="b" data-key="80" style="left: 592px;">P</div>
                <div id="5Fa" class="b" data-key="35" style="left: 640px;">#</div>
                <div id="5Ga" class="b" data-key="36" style="left: 654px;">$</div>
                <div id="6Aa" class="b" data-key="38" style="left: 668px;">&</div>



            </div>
        </div> <!--endPiano-->

        <!--white keys audio-->
        <audio id="z" src="assets\Notes\White\1C.mp3"></audio>
        <audio id="x" src="assets\Notes\White\1D.mp3"></audio>
        <audio id="c" src="assets\Notes\White\1E.mp3"></audio>
        <audio id="v" src="assets\Notes\White\1F.mp3"></audio>
        <audio id="b" src="assets\Notes\White\1G.mp3"></audio>
        <audio id="n" src="assets\Notes\White\2A.mp3"></audio>
        <audio id="m" src="assets\Notes\White\2B.mp3"></audio>
        <audio id="," src="assets\Notes\White\2C.mp3"></audio>
        <audio id="." src="assets\Notes\White\2D.mp3"></audio>
        <audio id="/" src="assets\Notes\White\2E.mp3"></audio>
        <audio id="a" src="assets\Notes\White\2F.mp3"></audio>
        <audio id="s" src="assets\Notes\White\2G.mp3"></audio>
        <audio id="d" src="assets\Notes\White\3A.mp3"></audio>
        <audio id="f" src="assets\Notes\White\3B.mp3"></audio>
        <audio id="g" src="assets\Notes\White\3C.mp3"></audio>
        <audio id="h" src="assets\Notes\White\3D.mp3"></audio>
        <audio id="j" src="assets\Notes\White\3E.mp3"></audio>
        <audio id="k" src="assets\Notes\White\3F.mp3"></audio>
        <audio id="l" src="assets\Notes\White\3G.mp3"></audio>
        <audio id=";" src="assets\Notes\White\4A.mp3"></audio>
        <audio id="q" src="assets\Notes\White\4B.mp3"></audio>
        <audio id="w" src="assets\Notes\White\4C.mp3"></audio>
        <audio id="e" src="assets\Notes\White\4D.mp3"></audio>
        <audio id="r" src="assets\Notes\White\4E.mp3"></audio>
        <audio id="t" src="assets\Notes\White\4F.mp3"></audio>
        <audio id="y" src="assets\Notes\White\4G.mp3"></audio>
        <audio id="u" src="assets\Notes\White\5A.mp3"></audio>
        <audio id="i" src="assets\Notes\White\5B.mp3"></audio>
        <audio id="o" src="assets\Notes\White\5C.mp3"></audio>
        <audio id="p" src="assets\Notes\White\5D.mp3"></audio>
        <audio id="2" src="assets\Notes\White\5E.mp3"></audio>
        <audio id="3" src="assets\Notes\White\5F.mp3"></audio>
        <audio id="4" src="assets\Notes\White\5G.mp3"></audio>
        <audio id="7" src="assets\Notes\White\6A.mp3"></audio>
        <audio id="8" src="assets\Notes\White\6B.mp3"></audio>
        <audio id="9" src="assets\Notes\White\6C.mp3"></audio>
        <!--black keys audio-->
        <audio id="Z" src="assets\Notes\Black\1Ca.mp3"></audio>
        <audio id="X" src="assets\Notes\Black\1Da.mp3"></audio>
        <audio id="V" src="assets\Notes\Black\1Fa.mp3"></audio>
        <audio id="B" src="assets\Notes\Black\1Ga.mp3"></audio>
        <audio id="N" src="assets\Notes\Black\2Aa.mp3"></audio>
        <audio id="&lt;" src="assets\Notes\Black\2Ca.mp3"></audio>
        <audio id="&gt;" src="assets\Notes\Black\2Da.mp3"></audio>
        <audio id="A" src="assets\Notes\Black\2Fa.mp3"></audio>
        <audio id="S" src="assets\Notes\Black\2Ga.mp3"></audio>
        <audio id="D" src="assets\Notes\Black\3Aa.mp3"></audio>
        <audio id="G" src="assets\Notes\Black\3Ca.mp3"></audio>
        <audio id="H" src="assets\Notes\Black\3Da.mp3"></audio>
        <audio id="K" src="assets\Notes\Black\3Fa.mp3"></audio>
        <audio id="L" src="assets\Notes\Black\3Ga.mp3"></audio>
        <audio id=":" src="assets\Notes\Black\4Aa.mp3"></audio>
        <audio id="W" src="assets\Notes\Black\4Ca.mp3"></audio>
        <audio id="E" src="assets\Notes\Black\4Da.mp3"></audio>
        <audio id="T" src="assets\Notes\Black\4Fa.mp3"></audio>
        <audio id="Y" src="assets\Notes\Black\4Ga.mp3"></audio>
        <audio id="U" src="assets\Notes\Black\5Aa.mp3"></audio>
        <audio id="O" src="assets\Notes\Black\5Ca.mp3"></audio>
        <audio id="P" src="assets\Notes\Black\5Da.mp3"></audio>
        <audio id="#" src="assets\Notes\Black\5Fa.mp3"></audio>
        <audio id="$" src="assets\Notes\Black\5Ga.mp3"></audio>
        <audio id="&" src="assets\Notes\Black\6Aa.mp3"></audio>
        
        <div id="audio" onerror="location.reload()">
            <audio id="" src=""></audio>
            
        </div>

        <!--background video-->
        <video playsinline autoplay muted loop id="bgvid">
            <source src="assets\loop.mp4" type="video/mp4">
        </video>

    </div>

